    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  h2{
    font-size: 2.9rem;
    margin-bottom: 1.5rem;
    line-height: 1;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    font-family: 'Fraunces', serif;
  }


  .navbar {
    width: 100%;
    height: auto;
    background-color:transparent;
    padding: 20px;
  }

  .nav-container {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
      

  }

  .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    
    
  }

  .navbar li {
    margin: 0 15px;
    font-weight: 900;
    font-size: 1.3rem;
  }

  .navbar a {
    color: #000;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    
  }
  

.nav-right{
    display: flex;
    flex-direction: row;
}



.btn {
    cursor: pointer;
    display: inline-block;
    background: white;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    color:black;
  }

header{
    height:100vh;
    padding: 2.5rem;
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.grid-2{
  display:grid;
grid-template-columns: repeat(2,1fr);
gap:2rem;
justify-content: space-between;
align-items: center;
text-align: center;
}


.graphic-photo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.gallery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  overflow: hidden;
}



.grid-4 img{
  width: 300px;
}



header .header-content{
  text-align: center;
}

 header .header-content h1{
  font-size: 3rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  letter-spacing: .5rem;
  font-weight: 900;
  margin: 4rem;
  font-family: 'Fraunces', serif;
}




